* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: url("../images/colorful_dots_on_black.jpg");
    background-repeat: repeat;
}

.page-header{
    width: 100%;
    height: 80px;
    background-image: -o-linear-gradient(right, #FF0000 33.33%, #008000 33.33%, #008000 67.7%, #0000FF 67.7%);
    background-image: -moz-linear-gradient(right, #FF0000 33.33%, #008000 33.33%, #008000 67.7%, #0000FF 67.7%);
    background-image: -webkit-linear-gradient(right, #FF0000 33.33%, #008000 33.33%, #008000 67.7%, #0000FF 67.7%);
    background-image: -ms-linear-gradient(right, #FF0000 33.33%, #008000 33.33%, #008000 67.7%, #0000FF 67.7%);
    background-image: linear-gradient(to right, #FF0000 33.33%, #008000 33.33%, #008000 67.7%, #0000FF 67.7%);
    font-family: Calibri;
    font-size: 35pt;
    color: rgb(255, 255, 0);
    text-align: center;
}

.side-bar{
    float: left;
    margin-left: 10px;
    margin-top: 40px;
    width: 320px;
    height: 330px;
    border-radius: 15px;
    background: rgba(233, 237, 234, 0.9);
    padding: 15px;
}

.side-bar header{
    font-size: 20pt;
    text-decoration: underline;
    margin-bottom: 5px;
}

.side-bar ul{
    list-style-type: none;
}

.side-bar li{
    padding: 8px;
    /*margin-bottom: 15px;*/
    position: relative;
}

.side-bar ul li:before{
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-transform: scale(0.12);
    -moz-transform: scale(0.12);
    content: url("../images/green-tick-without-background.png");
}

.side-bar li a{
    position: relative;
    font-size: 18pt;
    text-decoration: none;
    color: #000000;
    margin-left: 35px;
    top: 5px;
}

.side-bar li a:visited{
    color: rgb(192, 200, 210);
}

.main-content{
    float: right;
    padding-top: 40px;
    padding-right: 20px;
}

.main-content article{
    width: 950px;
    margin-bottom: 20px;
    background: rgba(233, 237, 234, 0.9);
    border-radius: 15px;
    padding: 10px;
}

/*Hover side bar*/

.side-bar nav ul li:nth-child(1):hover{
    background: rgb(255, 0, 0);
    border-radius: 15px;
}

.side-bar nav ul li:nth-child(2):hover{
    background: rgb(255, 165, 0);
    border-radius: 15px;
}

.side-bar nav ul li:nth-child(3):hover{
    background: rgb(255, 255, 0);
    border-radius: 15px;
}

.side-bar nav ul li:nth-child(4):hover{
    background: rgb(0, 128, 0);
    border-radius: 15px;
}

.side-bar nav ul li:nth-child(5):hover{
    background: rgb(0, 0, 255);
    border-radius: 15px;
}

.side-bar nav ul li:nth-child(6):hover{
    background: rgb(128, 0, 128);
    border-radius: 15px;
}


/*Headers of the articles*/

.main-content header{
    font-size: 30pt;
    height: 60px;
    padding: 10px;
}

.main-content article:nth-child(1) header{
    color: #ffffff;
    background: rgb(255, 0, 0);
    border-radius: 15px;
}

.main-content article:nth-child(2) header{
    color: #000000;
    background: rgb(255, 165, 0);
    border-radius: 15px;
}

.main-content article:nth-child(3) header{
    color: #000000;
    background: rgb(255, 255, 0);
    border-radius: 15px;
}

.main-content article:nth-child(4) header{
    color: #ffffff;
    background: rgb(0, 128, 0);
    border-radius: 15px;
}

.main-content article:nth-child(5) header{
    color: #ffffff;
    background: rgb(0, 0, 255);
    border-radius: 15px;
}

.main-content article:nth-child(6) header{
    color: #ffffff;
    background: rgb(128, 0, 128);
    border-radius: 15px;
    margin-bottom: 15px;
}

/*Content Of The Articles*/

.main-content article div{
    text-align: justify;
    font-size: 16pt;
    width: 900px;
    margin: 15px auto;
}

.main-content article div:first-letter{
    font-size: 55pt;
}

.main-content article div:first-line{
    font-style: italic;
}

span:lang(la){
    font-style: italic;
    color: #00008b;
    font-size: 16pt;
    width: 900px;
    margin: 15px auto 0 auto;
}

span:lang(la):after, span:lang(la):before {
    content: "\"";
}

span:lang(la) + span{
    font-style: italic;
    font-size: 16pt;
    width: 900px;
    margin: 15px auto;
}

/*Footer Of the Articles*/

footer a{
    color: rgb(100, 100, 100);
    padding: 15px;
}
.main-content article:nth-child(6) footer a{
    padding: 0;
}

#\#lorem{
    color: red;
}


