html{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}

div, header, iframe{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 485px;
    height: 210px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
}

header{
    color: rgb(246, 196, 5);
    font-size: 20pt;
    font-weight: bold;
    height: 32px;
    margin-bottom: 10px;
    text-align: center;
}

#imgbox{
    width: 172px;
    height: 130px;
    vertical-align: top;
    margin-right: 20px;
    display: inline-block;
    border: 1px solid rgb(246, 196, 5);
    overflow: hidden;
}

.navigation{
    display: inline-block;
    width: 244px;
    height: 130px;
    padding-top: 2%;
}

.navigation a{
    color: #ffffff;
    font-size: 2rem;
    text-align: left;
    display: block;
    text-decoration: none;
}