*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.2%;
}

main{
    margin: 20px auto;
    background-image: url("../images/formBackground.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    width: 350px;
    height: 600px;
    border-radius: 5px;
    padding: 10px;
}

form{
    width: 330px;
    height: 580px;
}

fieldset{
    border: none;
    width: 100%;
    margin-bottom: 10px;
}

legend{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin-bottom: 5px;
}

fieldset div{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.4);
    padding: 3px;
    margin-bottom: 2px;
    border: 2px solid rgba(146, 180, 210, 0.8);
}

label, span{
    color: rgb(20, 20, 20);
}

fieldset div label{
    width: 30%;
    display: inline-block;
    font-size: 1.6rem;
}

fieldset div input{
    width: 55%;
    height: 25px;
    display: inline-block;
}

fieldset:nth-child(2) div:nth-child(2){
    height: 90px;
}

fieldset:nth-child(2) div:nth-child(2) textarea{
    width: 55%;
}

fieldset:nth-child(2) div:nth-child(2) label{
    float: left;
}

fieldset:nth-child(3) legend + div{
    height: 60px;
}

fieldset:nth-child(3) legend + div > span{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

fieldset:nth-child(3) legend + div input{
    width: 8%;
    height: 15px;
}

fieldset:nth-child(3) legend + div label{
    width: auto;
    height: 15px;
    margin-right: 7px;
}

.visa:before{
    content: url("../images/visa_logo.jpg");
    vertical-align: middle;
}

.amex:before{
    content: url("../images/amex.png");
    vertical-align: middle;
}

.mastc:before{
    content: url("../images/mastercard.jpg");
    vertical-align: middle;
}

fieldset:last-of-type + div{
    text-align: center;
}

input[type="submit"]{
    width: 25%;
    height: 20px;
    margin: auto;
    background: rgb(4, 21, 47);
    color: #ffffff;
    border-radius: 10px;
    border: none;
}

input:focus, textarea:focus, input:active{
    background: orange;
    color: rgb(4, 21, 47);
    transition: 0.2s ease;
    border: none;
    outline: none;
}

input[type="submit"]:active {
    -webkit-box-shadow: 0 0 0 3px rgb(4, 21, 47);
    font-size: 1.5rem;
}
