*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html{
    font-size: 62.5%;
}

.grey-text{
    color: rgb(132, 125, 118);
}

.blue-text{
    color: rgb(73, 81, 122);
}

.calculator{
    margin: 50px auto;
    width: 450px;
    height: 410px;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.17, #9EB9D4),
            color-stop(0.33, #CCDEF0),
            color-stop(0.65, #BAD2EA),
            color-stop(1, #BAD2EA)
    );
    background-image: -o-linear-gradient(bottom, #9EB9D4 17%, #CCDEF0 33%, #BAD2EA 65%, #BAD2EA 100%);
    background-image: -moz-linear-gradient(bottom, #9EB9D4 17%, #CCDEF0 33%, #BAD2EA 65%, #BAD2EA 100%);
    background-image: -webkit-linear-gradient(bottom, #9EB9D4 17%, #CCDEF0 33%, #BAD2EA 65%, #BAD2EA 100%);
    background-image: -ms-linear-gradient(bottom, #9EB9D4 17%, #CCDEF0 33%, #BAD2EA 65%, #BAD2EA 100%);
    background-image: linear-gradient(to bottom, #9EB9D4 17%, #CCDEF0 33%, #BAD2EA 65%, #BAD2EA 100%);
    padding: 10px;
}

.calc-header{
    width: 425px;
    height: 16px;
    margin-bottom: 15px;
    padding: 0 5px 0 5px;
    margin-right: 0;

}

.calc-header span{
    font-size: 1.4rem;
    vertical-align: middle;
    margin-left: 4px;
    position: relative;
    top: 4px;
}

.calc-header img{
    float: right;
    margin-right: 1px;
    position: relative;
    top: 5px
}

.calc-header img:first-child{
    float: left;
}

.body{
    width: 425px;
    height: 360px;
    background: rgb(218, 229, 241);
    margin: 0 auto;
}

.keyboard{
    width: 425px;
    height: 353px;
}

.nav-bar{
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.29, #EFF2F9),
            color-stop(0.33, #D9DFF0)
    );
    background-image: -o-linear-gradient(bottom, #EFF2F9 29%, #D9DFF0 33%);
    background-image: -moz-linear-gradient(bottom, #EFF2F9 29%, #D9DFF0 33%);
    background-image: -webkit-linear-gradient(bottom, #EFF2F9 29%, #D9DFF0 33%);
    background-image: -ms-linear-gradient(bottom, #EFF2F9 29%, #D9DFF0 33%);
    background-image: linear-gradient(to bottom, #EFF2F9 29%, #D9DFF0 33%);
    border-radius: 2px;
    border-bottom: 1px solid rgb(186, 193, 211);
    padding: 2px 0 2px 10px
}

.nav-bar span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 1.4rem;
}

.screen{
    height: 50px;
    width: 405px;
    margin-left: 9px;
    margin-bottom: 5px;
    border: 1px solid rgb(177, 188, 202);
    border-radius: 2px;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.22, #E6EFFA),
            color-stop(0.61, #FDFEFF)
    );
    background-image: -o-linear-gradient(bottom, #E6EFFA 22%, #FDFEFF 61%);
    background-image: -moz-linear-gradient(bottom, #E6EFFA 22%, #FDFEFF 61%);
    background-image: -webkit-linear-gradient(bottom, #E6EFFA 22%, #FDFEFF 61%);
    background-image: -ms-linear-gradient(bottom, #E6EFFA 22%, #FDFEFF 61%);
    background-image: linear-gradient(to bottom, #E6EFFA 22%, #FDFEFF 61%);
    padding: 10px;
}

.screen span{
    float: right;
    font-size: 2.5rem;
}

.sub-screen{
    height: 70px;
    width: 404px;
    border: 1px solid rgb(177, 188, 202);
    margin: 0px  10px 5px 10px;
    border-radius: 2px;
    padding: 4px;
}

.sub-screen span{
    display: inline-block;
    margin-right: 19px;
    font-size: 1.3rem;
    width: 30px;
}

.sub-screen span:last-of-type{
    margin-right: 0;
}

.left-sidebar{
    display: inline-block;
    margin-right: 15px;
    height: 188px;
    vertical-align: top;
    width: 72px;
}

.base, .word{
    width: 72px;
    height: 92px;
    border: 1px solid rgb(177, 188, 202);
    margin: 0px  10px 5px 10px;
    border-radius: 2px;
    padding: 9px 0 9px 8px;
}

.word{
    height: 90px;
}

.base div, .word div{
    margin-bottom: 2px;
}

.base input, .word input{
    margin-right: 3px;
}

.base label, .word label{
    font-size: 1.3rem;
}

.logical-operators{
    display: inline-block;
    margin-right: 5px;
    width: 75px;
    height: 188px;
    vertical-align: top;
}

.logical-operators div{
    display: inline-block;
    width: 34px;
    height: 27px;
    border: 1px solid rgb(177, 188, 202);
    border-radius: 2px;
    margin-bottom: 5px;
    margin-right: 2px;
    font-size: 1.3rem;
    text-align: center;
    vertical-align: top;
    padding-top: 4px;
}

.letters{
    display: inline-block;
    height: 188px;
    width: 35px;
    margin-right: 5px;
}

.letters div{
    width: 34px;
    height: 27px;
    border: 1px solid rgb(177, 188, 202);
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 4px;
}

.numbers{
    display: inline-block;
    width: 202px;
    vertical-align: top;
}

.first-four-rows div{
    display: inline-block;
    width: 34px;
    height: 27px;
    border: 1px solid rgb(177, 188, 202);
    border-radius: 2px;
    margin: 0 4px 5px 0;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 4px;
    vertical-align: top;
}

.small-button{
    display: inline-block;
    width: 34px;
    height: 27px;
    border: 1px solid rgb(177, 188, 202);
    border-radius: 2px;
    margin: 0 4px 5px 0;
    vertical-align: top;
    text-align: center;
    padding-top: 4px;
}

div.vertical-button{
    font-size: 2rem;
    text-align: center;
    padding-top: 18px;
    display: inline-block;
    width: 34px;
    height: 60px;
    border: 1px solid rgb(177, 188, 202);
    border-radius: 2px;
    margin: 0 4px 2px 0;
    vertical-align: top;
    position: relative;
    bottom: 32px;
}

.horizontal-button{
    display: inline-block;
    width: 75px;
    height: 27px;
    border: 1px solid rgb(177, 188, 202);
    border-radius: 2px;
    margin: 0 4px 2px 0;
    vertical-align: top;
}

div.small{
    font-size: 1.2rem;
    font-family: Consolas;
}

.operator{
    font-size: 1.6rem;
    text-align: center;
    padding-top: 4px;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.45, #ECF2F8),
            color-stop(0.7, #D6E1EF)
    );
    background-image: -o-linear-gradient(bottom, #ECF2F8 45%, #D6E1EF 70%);
    background-image: -moz-linear-gradient(bottom, #ECF2F8 45%, #D6E1EF 70%);
    background-image: -webkit-linear-gradient(bottom, #ECF2F8 45%, #D6E1EF 70%);
    background-image: -ms-linear-gradient(bottom, #ECF2F8 45%, #D6E1EF 70%);
    background-image: linear-gradient(to bottom, #ECF2F8 45%, #D6E1EF 70%);
}

div.number{
    font-size: 1.6rem;
    text-align: center;
    padding-top: 4px;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.4, #F4F9FC),
            color-stop(0.5, #ECF3FA)
    );
    background-image: -o-linear-gradient(bottom, #F4F9FC 40%, #ECF3FA 50%);
    background-image: -moz-linear-gradient(bottom, #F4F9FC 40%, #ECF3FA 50%);
    background-image: -webkit-linear-gradient(bottom, #F4F9FC 40%, #ECF3FA 50%);
    background-image: -ms-linear-gradient(bottom, #F4F9FC 40%, #ECF3FA 50%);
    background-image: linear-gradient(to bottom, #F4F9FC 40%, #ECF3FA 50%);
}